<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Price Old</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.priceOld }}</td>
        <td>
          <img class="product-image" src="{{ product.image }}" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
